.svg {
  margin: 0px auto;
  display: block;
  -webkit-animation: svg-rotate 8000ms linear infinite;
          animation: svg-rotate 8000ms linear infinite;
}

circle {
  fill: transparent;
  stroke: rgb(61,150,255);
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 0, 301.59289;
  -webkit-animation: stroke-dash 2000ms linear infinite, stroke-width 2000ms linear infinite, stroke-color 8000ms steps(4) infinite;
          animation: stroke-dash 2000ms linear infinite, stroke-width 2000ms linear infinite, stroke-color 8000ms steps(4) infinite;
}

@-webkit-keyframes svg-rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes svg-rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes stroke-width {
  0%, 100% {
    stroke-width: 0;
  }
  45%, 55% {
    stroke-width: 2;
  }
  50% {
    stroke-width: 4;
  }
}
@keyframes stroke-width {
  0%, 100% {
    stroke-width: 0;
  }
  45%, 55% {
    stroke-width: 2;
  }
  50% {
    stroke-width: 4;
  }
}
@-webkit-keyframes stroke-dash {
  0% {
    stroke-dasharray: 0, 301.59289;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 301.59289, 0;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 301.59289, 301.59289;
    stroke-dashoffset: -301.59289;
  }
}
@keyframes stroke-dash {
  0% {
    stroke-dasharray: 0, 301.59289;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 301.59289, 0;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 301.59289, 301.59289;
    stroke-dashoffset: -301.59289;
  }
}
@-webkit-keyframes stroke-color {
  from {
    stroke: rgb(61,150,255);
  }
}
@keyframes stroke-color {
  from {
    stroke: rgb(61,150,255);
  }
}
